a, a:hover{
	color: #b03566;
}
.navbar-default{
	background: #b03566;
}

.form-control:focus {
  border-color: #b03566;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 2px #b03566;
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 2px #b03566;
}

.service .carousel-indicators .active {
	background: #b03566;
}

.btn-theme {
	background: #b03566;
}
